.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    max-width: 683px;
    margin-top: 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
    .intro__title {
        font-size: 41px;
        line-height: 40px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 375px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        padding-right: 100px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        padding-right: 50px;
    }
}