.footer__copyright {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright{
        margin: 48px 0 16px;
    }
}
