.video__subtitle {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    font-family: 'Inter';
    color: #FFFFFF;
    z-index: 3;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .video__subtitle {
        font-size: 14px;
        line-height: 15px;
    }
}
