.comments__quote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    margin-bottom: 24px;
    width: 100%;
    margin: 42px 0 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .comments__quote {
         order: 3;
         margin-top: 18px;
         font-size: 16px;
         line-height: 23px;
     }

}

