.place__paragraphs {
    width: 484px;
    font-size: 16px;
    line-height: 27px;
}

@media screen and (max-width: 767px) {
    .place__paragraphs{
        width: 100%;
        margin-top: 24px;
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraphs{
        margin-left: 28px;
    }
}

/* Увеличить текст для декстопа */
@media screen and (min-width: 1024px){
    .place__paragraphs{
        font-size: 14px;
        line-height: 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__paragraphs{
        margin-left: 32px;
    }
}

