.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin-top: 274px;
    z-index: 3;
}

@media screen and (max-width: 374px){
    .cover__title{
        margin-top: 64px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        margin: 104px 0 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title{
        margin: 165px 24px 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title{
        margin: 211px auto;
        width: 55%;
    }
}
