@import url(../footer/__copyright/footer__copyright.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__links/footer__links.css);
@import url(../footer/__list/footer__list.css);
@import url(../footer/__text/footer__text.css);

.footer {
    max-width: 1184px;
    margin: 0px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
 }

@media screen and (max-width: 767px) {
    .footer{
        margin-top: 64px;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 16px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer{
        padding: 0 23px 24px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer{
        padding: 0  47px 48px;
    }
}

