.place__body {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.place__body {
    margin-top: 52px;
}

@media screen and (max-width: 767px) {
    .place__body{
        display: block;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__body{
        padding: 0 24px;
    }
}

