@import url(../intro/__title/intro__titile.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__text-main/intro__text-main.css);
@import url(../intro/__text-author/intro__text-author.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__item/intro__item.css);
@import url(../intro/__content-row/intro__content-row.css);
@import url(../intro/__accent/intro__accent.css);

.intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 80px auto 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
        width: 100%;
        margin: 80px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        width: 100%;
        margin: 80px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 401px;
        width: 100%;
        margin: 80px auto 0;
    }
}

@media screen and (max-width: 375px) {
    .intro {
        max-width: 343px;
        width: 100%;
        margin: 80px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        width: 100%;
        margin: 32px auto 0;
    }
}
